				</article>
				<!-- /article -->
			</main>
			<!-- /.l-primary -->
			<div class="c-pagetop js-pagetop">
				<div class="c-pagetop__wrapimg"><img src="<%= getRelativePath('/images/common/txt_pagetop.png');%>" alt="pagetop"></div>
			</div>			
			<!-- /.c-pagetop -->
		</div>
		<!-- /.l-content -->
		<footer class="l-footer">
			<div class="l-footer__inner">
				<div class="l-footer__contents">
					<div class="l-footer__top">
						<div class="l-footer__top --left">
							<div class="l-footer__wraplogo"><a href="<%= getRelativePath('/'); %>">
								<picture>
									<source media="(max-width:739px)" srcset="<%= getRelativePath('/images/common/flogo_sp.png'); %>">
									<img src="<%= getRelativePath('/images/common/logo.png'); %>" alt="Toho Yoko" class="l-footer__logo">
								</picture>
							</a></div>
							<div class="l-footer__info">
								<p class="l-footer__text">東邦株式会社（東邦重量）</p>
								<div class="u-group">
									<p class="l-footer__text">TEL：<a href="tel:0761243888" class="is-call">0761-24-3888</a></p>
									<p class="l-footer__text">FAX：0761-24-1455</p>
								</div>
								<p class="l-footer__text">〒923-0036 石川県小松市平面町ヘ−118</p>
							</div>
							<div class="c-button__form --footer"><a href="<%= getRelativePath('/'); %>" class="c-button__btntext">お問い合わせ</a></div>
						</div>
						<div class="l-footer__top --right">
							<ul class="l-footer__list">
								<li class="l-footer__col u-onlyPc">
									<ul class="l-footer__col__items">
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">トップページ</a></li>
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">東邦重量の特徴</a></li>
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">事業内容</a></li>
									</ul>
								</li>
								<li class="l-footer__col u-onlyPc">
									<ul class="l-footer__col__items">
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">事例紹介</a></li>
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">会社案内</a></li>
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">採用情報</a></li>
									</ul>
								</li>
								<li class="l-footer__col">
									<ul class="l-footer__col__items">
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">お問い合わせ</a></li>
										<li class="l-footer__link"><a href="<%= getRelativePath('/'); %>">プライバシーポリシー</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="l-footer__bottom">						
						<p class="l-footer__copyright">©2019 東邦株式会社</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- /.l-footer -->
	</div>
	<!-- /.l-all -->
	<script src="<%= getRelativePath('/js/jquery-3.6.0.min.js'); %>"></script>
	<script src="<%= getRelativePath('/js/script.js'); %>"></script>
	<% if(getPageId() == 'index') { %>
		<script src="<%= getRelativePath('/js/slick.min.js'); %>"></script>
		<script src="<%= getRelativePath('/js/index.js'); %>"></script>
	<% } %>
</body>
</html>   