<%- include('_config', { extend: { relativePath: '.' , page: { id: 'index' , title: 'Toho Yoko' ,
	description: 'TOP Toho Yoko' , } }}); %><%- include('_header'); %>
		<section class="p-index__servise">
			<div class="l-inner">
				<div class="c-headingmulti">
					<div class="c-headingmulti__subtitle">
						<img src="<%= getRelativePath('/images/index/txt_service.png')%>" alt="Service">
					</div>
					<h2 class="c-headingmulti__title">事業内容</h2>
				</div>
			</div>
			<div class="c-servise">
				<div class="c-servise__list">
					<div class="c-servise__row --first">
						<div class="c-servise__textbox">
							<div class="c-servise__textbox__inner">
								<h3 class="c-servise__title">重量物の運搬・設置</h3>
								<p class="c-servise__desc">重量物の運搬・設置は、東邦重量の最も得意とする業務です。<br>
									豊富な経験を持ち、重量物の構造や仕組みを熟知したエキスパートが、安全でスムーズな運搬・設置を行います。</p>
							</div>
						</div>
						<div class="c-servise__wrapimg"><img
								src="<%= getRelativePath('/images/index/img_service01.jpg')%>" alt="重量物の運搬・設置"></div>
					</div>
					<div class="c-servise__row --second">
						<div class="c-servise__col --left">
							<div class="c-servise__textbox">
								<div class="c-servise__textbox__inner">
									<h3 class="c-servise__title">省力化機器・治工具の製作</h3>
									<p class="c-servise__desc">ロボットシステムなどの設計・製作・メンテナンスから、それに伴う治具の設計・製作を行ないます。</p>
								</div>
							</div>
							<div class="c-servise__wrapimg"><img
									src="<%= getRelativePath('/images/index/img_service02.jpg')%>" alt="省力化機器・治工具の製作">
							</div>
						</div>
						<div class="c-servise__col --right">
							<div class="c-servise__textbox">
								<div class="c-servise__textbox__inner">
									<h3 class="c-servise__title">溶接部品販売店業</h3>
									<p class="c-servise__desc">溶接部品の販売を行なっています。自社で在庫管理を行うため、消耗部品の納入も迅速に対応することが可能です。</p>
								</div>
							</div>
							<div class="c-servise__wrapimg"><img
									src="<%= getRelativePath('/images/index/img_service03.jpg')%>" alt="溶接部品販売店業"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="c-button --center"><a href="<%= getRelativePath('/'); %>" class="c-button__more">事業内容を見る</a>
			</div>
		</section>
		<section class="p-index__vehicle">
			<div class="l-inner">
				<div class="c-heading">
					<h2 class="c-heading__title">保有車両</h2>
				</div>
				<div class="c-vehicle">
					<div class="c-vehicle__main">
						<div class="c-vehicle__col --img"><img src="<%= getRelativePath('/images/index/img_fleet.jpg');%>"
								alt="保有車両"></div>
						<div class="c-vehicle__col --textbox">
							<ul class="c-vehicle__list">
								<li>
									<ul class="c-vehicle__item">
										<li>大型貨物自動車15t積</li>
										<li>4輌</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li>普通貨物自動車4t積<span class="c-vehicle__item__note">※含クレーン付貨物自動車3輌</span></li>
										<li>3輌</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li>フォークリフト15t</li>
										<li>1台</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li>フォークリフト10t</li>
										<li>1台</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li>フォークリフト7t以下</li>
										<li>8台</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-index__works">
			<div class="l-inner">
				<div class="c-headingmulti">
					<div class="c-headingmulti__subtitle">
						<img src="<%= getRelativePath('/images/index/txt_service.png')%>" alt="Service">
					</div>
					<h2 class="c-headingmulti__title">事業内容</h2>
				</div>
				<div class="c-desc --center">東邦重量では機械の運搬・設置だけでなく、工場内の配置換えなども対応しています。<br>東邦重量のこれまでの実績をご紹介します。</div>
				<div class="c-works">
					<ul class="l-imgTxt01 --col3">
						<li class="l-imgTxt01__item">
							<a href="javascript:;">
								<div class="l-imgTxt01__img">
									<div style="background-image:url(<%= getRelativePath('/images/index/feature_img.jpg'); %>)"></div>
								</div>
								<div class="l-imgTxt01__ttl">見出し</div>
								<p class="l-imgTxt01__text">
									テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
								</p>
							</a>
						</li>
						<li class="l-imgTxt01__item">
							<div class="l-imgTxt01__img">
								<div style="background-image:url(<%= getRelativePath('/images/index/feature_img.jpg'); %>)"></div>
							</div>
							<div class="l-imgTxt01__ttl">見出し</div>
							<p class="l-imgTxt01__text">
								テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							</p>
						</li>
						<li class="l-imgTxt01__item">
							<div class="l-imgTxt01__img">
								<div style="background-image:url(<%= getRelativePath('/images/index/feature_img.jpg'); %>)"></div>
							</div>
							<div class="l-imgTxt01__ttl">見出し</div>
							<p class="l-imgTxt01__text">
								テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							</p>
						</li>
					</ul>
					<div class="c-button --center"><a href="<%= getRelativePath('/'); %>" class="c-button__more">事例紹介を見る</a>
				</div>
			</div>
		</section>
		<section class="p-index__recruit"></section>
		<section class="p-index__info"></section>
		<section class="p-index__contact"></section>
		<%- include('_footer'); %>