<%- include('_config', { extend: { relativePath: '.' , page: { id: 'index' , title: 'Toho Yoko' ,
	description: 'TOP Toho Yoko' , } }}); %><%- include('_header'); %>
		<section class="p-index__servise">
			<div class="l-inner">
				<div class="c-heading --multi">
					<div class="c-heading__subtitle">
						<img src="<%= getRelativePath('/images/index/txt_service.png')%>" alt="Service">
					</div>
					<h2 class="c-heading__title">事業内容</h2>
				</div>
			</div>
			<div class="c-servise">
				<div class="c-servise__list">
					<div class="c-servise__row --first">
						<div class="c-servise__textbox">
							<div class="c-servise__textbox__inner">
								<h3 class="c-servise__title">重量物の運搬・設置</h3>
								<p class="c-servise__desc">
									重量物の運搬・設置は、東邦重量の最も得意とする業務です。<br>豊富な経験を持ち、重量物の構造や仕組みを熟知したエキスパートが、安全でスムーズな運搬・設置を行います。
								</p>
							</div>
						</div>
						<div class="c-servise__wrapimg --large"></div>
					</div>
					<div class="c-servise__row --second">
						<div class="c-servise__col --left">
							<div class="c-servise__textbox">
								<div class="c-servise__textbox__inner">
									<h3 class="c-servise__title">省力化機器・治工具の製作</h3>
									<p class="c-servise__desc">ロボットシステムなどの設計・製作・メンテナンスから、それに伴う治具の設計・製作を行ないます。</p>
								</div>
							</div>
							<div class="c-servise__wrapimg --small"></div>
						</div>
						<div class="c-servise__col --right">
							<div class="c-servise__textbox">
								<div class="c-servise__textbox__inner">
									<h3 class="c-servise__title">溶接部品販売店業</h3>
									<p class="c-servise__desc">溶接部品の販売を行なっています。自社で在庫管理を行うため、消耗部品の納入も迅速に対応することが可能です。</p>
								</div>
							</div>
							<div class="c-servise__wrapimg --small"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="c-button --center"><a href="<%= getRelativePath('/'); %>" class="c-button__more">事業内容を見る</a>
			</div>
		</section>
		<section class="p-index__vehicle">
			<div class="l-inner">
				<div class="c-heading --center">
					<h2 class="c-heading__title --underline">保有車両</h2>
				</div>
				<div class="c-vehicle">
					<div class="c-vehicle__main">
						<div class="c-vehicle__col --img"><img
								src="<%= getRelativePath('/images/index/img_fleet.jpg');%>" alt="保有車両"></div>
						<div class="c-vehicle__col --textbox">
							<ul class="c-vehicle__list">
								<li>
									<ul class="c-vehicle__item">
										<li class="c-vehicle__item__text">大型貨物自動車15t積</li>
										<li class="c-vehicle__item__text">4輌</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li class="c-vehicle__item__text">普通貨物自動車4t積<span
												class="c-vehicle__item__note">※含クレーン付貨物自動車3輌</span></li>
										<li class="c-vehicle__item__text">3輌</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li class="c-vehicle__item__text">フォークリフト15t</li>
										<li class="c-vehicle__item__text">1台</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li class="c-vehicle__item__text">フォークリフト10t</li>
										<li class="c-vehicle__item__text">1台</li>
									</ul>
								</li>
								<li>
									<ul class="c-vehicle__item">
										<li class="c-vehicle__item__text">フォークリフト7t以下</li>
										<li class="c-vehicle__item__text">8台</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-index__works">
			<div class="l-inner">
				<div class="c-heading --multi">
					<div class="c-heading__subtitle">
						<img src="<%= getRelativePath('/images/index/txt_works.png')%>" alt="Works">
					</div>
					<h2 class="c-heading__title">事例紹介</h2>
				</div>
				<div class="c-desc --center">東邦重量では機械の運搬・設置だけでなく、工場内の配置換えなども対応しています。<br>東邦重量のこれまでの実績をご紹介します。</div>
				<div class="c-works">
					<div class="l-imgTxt --col3">
						<a href="<%= getRelativePath('/');%>" class="l-imgTxt__item">
							<div class="l-imgTxt__img">
								<img src="<%= getRelativePath('/images/index/feature_img.jpg');%>"
									alt="作業内容が入ります１８文字程度">
							</div>
							<div class="l-imgTxt__content">
								<div class="l-imgTxt__title">作業内容が入ります１８文字程度</div>
								<div class="l-imgTxt__label --blue">据え付け</div>
								<p class="l-imgTxt__text">
									石川県金沢市
								</p>
							</div>
						</a>
						<a href="<%= getRelativePath('/');%>" class="l-imgTxt__item">
							<div class="l-imgTxt__img">
								<img src="<%= getRelativePath('/images/index/feature_img.jpg');%>" alt="冷凍機の搬入・据付">
							</div>
							<div class="l-imgTxt__content">
								<div class="l-imgTxt__title">冷凍機の搬入・据付</div>
								<div class="l-imgTxt__label --blue">据え付け</div>
								<p class="l-imgTxt__text">
									石川県金沢市
								</p>
							</div>
						</a>
						<a href="<%= getRelativePath('/');%>" class="l-imgTxt__item">
							<div class="l-imgTxt__img">
								<img src="<%= getRelativePath('/images/index/feature_img.jpg');%>" alt="クレーン作業">
							</div>
							<div class="l-imgTxt__content">
								<div class="l-imgTxt__title">クレーン作業</div>
								<div class="l-imgTxt__label --green">配置換え</div>
								<p class="l-imgTxt__text">
									石川県金沢市
								</p>
							</div>
						</a>
					</div>
					<div class="c-button --center"><a href="<%= getRelativePath('/'); %>"
							class="c-button__more">事例紹介を見る</a>
					</div>
				</div>
		</section>
		<section class="p-index__recruit">
			<div class="l-inner">
				<div class="c-recruit">
					<h2 class="c-recruit__title"><img src="<%= getRelativePath('/images/index/recruit_title.png');%>"
							alt="recruit"></h2>
					<div class="c-recruit__desc">小さくとも成長を重ねて、<br>
						協力し合える関係を築いていける方にお会いできることを楽しみにしています。</div>
					<div class="c-button --center">
						<a href="<%= getRelativePath('/');%>" class="c-button__recruit">採用情報を見る</a>
					</div>
				</div>
			</div>
		</section>
		<section class="p-index__info">
			<div class="l-inner">
				<div class="c-info">
					<div class="c-info__main">
						<div class="c-info__col --left">
							<div class="c-info__inner">
								<div class="c-headingred">
									<div class="c-headingred__subtitle"><img
											src="<%= getRelativePath('/images/index/company.png')%>" alt="company">
									</div>
									<h2 class="c-headingred__title">会社概要</h2>
								</div>
								<div class="c-desc --info">東邦株式会社は1978年に創業、<br>重量物の運搬・据付を行って参りました。</div>
							</div>
						</div>
						<div class="c-info__col --right">
							<div class="c-info__inner">
								<div class="c-headingred">
									<div class="c-headingred__subtitle"><img
											src="<%= getRelativePath('/images/index/faq.png')%>" alt="faq"></div>
									<h2 class="c-headingred__title">よくある質問</h2>
								</div>
								<div class="c-desc --info">重量物の運搬・据付などの業務において、<br>よくいただく質問をまとめました。</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-index__contact">
			<div class="l-inner">
				<div class="c-contact">
					<div class="c-contact__main">
						<div class="c-contact__col --left">
							<div class="c-heading --contact">
								<h2 class="c-heading__title">お問い合わせ</h2>
								<div class="c-heading__subtitle"><img
										src="<%= getRelativePath('/images/index/contact.png');%>" alt="contact"></div>
							</div>
						</div>
						<div class="c-contact__col --right">
							<div class="c-desc --contact">東邦株式会社は、熟練の技術による安全かつスピーディな機械設置が可能です。<br>まずは私たちにご相談ください。</div>
							<div class="c-contact__info">
								<div class="c-contact__info__left">
									<div class="c-contact__wrapimg">
										<a class="is-call" href="tel:0761243888"><img
												src="<%= getRelativePath('/images/common/tel.png'); %>"
												alt="0761243888"></a>
									</div>
									<div class="c-contact__text">電話受付時間　10:00〜17:00 ※土日祝を除く</div>
								</div>
								<div class="c-contact__info__right c-button">
									<a href="#" class="c-button__contact"><span>お問い合わせ</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('_footer'); %>